/* --- Globally Applied ---*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100;
	vertical-align: baseline;
	background: transparent;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
} /* way for an element to automatically clear its children */

html {
	font-family: circular std, sans-serif;
	font-weight: 100;
}

body {
	width: 60%;
	margin: auto;
	
	
} /* set margins on the side of the design */

/* styling fonts */
.blue{
	color: #027BFF;
}
h1 {
	font-size: 40px;
	font-weight: 400;
	color: #17191A;
}

h2 {
	font-size: 35px;
	font-weight: 400;
	color: #17191A;
}

h5 {
	font-size: 20px;
	margin-top: 10px; /* adjust spacing */
	color: #17191A;
}

p {
	color: #8F9EA5;
	opacity: 0.8;
	font-weight: 100;
	margin-top: 10px;
	font-size: 20px;
}






/* --- NAVIGATION BAR ---*/
.nav {
	display: flex; /* 2 divs inside, left and right */
	align-items: center;
	height: 100px;
}

.homeLogo, .navIcons {
	flex: 1;
}

.navIcons {
	text-align: right;
}

.navIcons a, .homeLogo a, .homeLogo img {
	display: inline-block;
	vertical-align: middle;
}

.navIcons a {
	margin-left: 25px;
	text-decoration: none;
}

.homeLogo a {
	color: #027BFF;
	text-decoration: none;
}

.homeLogo img {
	margin-right: 10px;
}



/* --- LANDING ---*/
.landing {
	height: 100vh; /* viewport height to adjust with the browser height */
	position: relative;
}

.landingWrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

ul {
	list-style: none;
	margin-top: 30px;
	line-height: 30px;
}

.landingLeft {
	margin-top: 4em;
}

.scroll {
	position: absolute;
	bottom: 200px;
	left: 0;
	right: 0;
	margin: auto;
}


/* --- SKILLS ---*/
.skills {
	text-align: center;
	margin-bottom: 20em;
}

.skills p {
	margin-bottom: 30px;
}

.skills img {
	margin-top: 0px;
}

/* --- PORTFOLIO PROJECT 1 ---*/
.work {
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}

.work > .workText {
	position: absolute;
	top: 85px;
}

.work > .workText > .underline {
	display: block;
	background-color: #027BFF;
	height: 3px;
	width: 61px;
	margin-top: 5px;
}

.work > .workImage {
	width: 85%;
	float: right;
	/* -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
	-moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
	box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06); */
}

.work ul {
	position: absolute;
	bottom: 0;
	right: 86%;
}

.work ul li {
	margin-top: 20px;
}

/* --- PORTFOLIO PROJECT 2 ---*/
.work2 {
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}

.work2 > .workText {
	position: absolute;
	top: 85px;
	right: 0;
	text-align: right;
}


.work2 > .workText > .underline {
	display: block;
	background-color: #027BFF;
	height: 3px;
	width: 61px;
	margin-top: 5px;
	float: right;
}

.work2 > .workImage {
	width: 85%;
	float: left;
	/* -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
	-moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
	box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06); */
}

.work2 ul {
	position: absolute;
	bottom: 0;
	left: 86%;
}

.work2 ul li {
	margin-top: 20px;
}

/*--- WORK 1 and 2 ---*/
.work a, .work2 a {
	text-decoration: none;
	color: #17191A;
}

/*--- FOOTER ---*/
.footer {
	background-image: url(img/Dribbble_Blue_Large.png);
	background-repeat: no-repeat;
	background-position: right-top;
	background-size: 320px;
	padding-bottom: 7em;
	text-align: center;
}

.footer a {
	color: #027BFF;
	text-decoration: none;
}

.underlineSmall {
	display: block;
	height: 3px;
	width: 41px;
	margin: 5px auto 0 auto;
	background-color: #027BFF;
}